springSOAPConsuming/src/main/resources/static/ws/hotel.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/ex4/webservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/ex4/webservice" targetNamespace="http://spring.io/ex4/webservice">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/ex4/webservice">

	<!-- ==================================================================--> 
    <!-- =========================    web service 1  ======================-->
    <!-- ================================================================= -->
   
    <xs:element name="getHotelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="dateDebut" type="xs:string"/>
                <xs:element name="dateFin" type="xs:string"/>
                <xs:element name="nombrePersonnesHeberges" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHotelResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="offres" type="tns:Offre"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="Offre">
        <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="typeChambre" type="xs:string"/>
                <xs:element name="dateDisponibilite" type="xs:string"/>
                <xs:element name="prix" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="hotel">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="nombreEtoiles" type="xs:int"/>
            <xs:element name="nombreLits" type="xs:int"/>
            <xs:element name="adresse" type="tns:Adresse"/>
		    <xs:element maxOccurs="unbounded" minOccurs="0" name="chambre" type="tns:Chambre"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Adresse">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="pays" type="xs:string"/>
            <xs:element name="vile" type="xs:string"/>
            <xs:element name="rue" type="xs:string"/>
            <xs:element name="numero" type="xs:int"/>
            <xs:element name="positionGPS" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Chambre">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="numero" type="xs:int"/>
            <xs:element name="typeLit" type="xs:string"/>
            <xs:element name="prix" type="xs:double"/>
            <xs:element name="disponible" type="xs:string"/>
            <xs:element name="hotel" type="tns:hotel"/>
        </xs:sequence>
    </xs:complexType>
    
   <!-- ================================================================== --> 
   <!-- =========================    web service 2  =======================-->
   <!-- ================================================================== -->
    
        <xs:element name="ReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="idOffre" type="xs:string"/>
                <xs:element name="client" type="tns:Client"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="confirmation" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
     <xs:complexType name="reservation">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="dateArrivee" type="xs:string"/>
            <xs:element name="dateDepart" type="xs:string"/>
             <xs:element name="client" type="tns:Client"/> 
            <xs:element name="chambre" type="tns:Chambre"/>
            <xs:element name="agenceVoyage" type="tns:AgenceVoyage"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Client">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="carteCredit" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="AgenceVoyage">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="login" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="tarif" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    
    
     
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getHotelResponse">
    <wsdl:part element="tns:getHotelResponse" name="getHotelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReservationResponse">
    <wsdl:part element="tns:ReservationResponse" name="ReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReservationRequest">
    <wsdl:part element="tns:ReservationRequest" name="ReservationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHotelRequest">
    <wsdl:part element="tns:getHotelRequest" name="getHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HotelPort">
    <wsdl:operation name="getHotel">
      <wsdl:input message="tns:getHotelRequest" name="getHotelRequest">
    </wsdl:input>
      <wsdl:output message="tns:getHotelResponse" name="getHotelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reservation">
      <wsdl:input message="tns:ReservationRequest" name="ReservationRequest">
    </wsdl:input>
      <wsdl:output message="tns:ReservationResponse" name="ReservationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelPortSoap11" type="tns:HotelPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reservation">
      <soap:operation soapAction=""/>
      <wsdl:input name="ReservationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelPortService">
    <wsdl:port binding="tns:HotelPortSoap11" name="HotelPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>